<%
def slugify(input)
  input
  .downcase
  .gsub(" ", "-")
  .gsub(/\W/, "")
end

def github(repo, word)
  "#{repo}/blob/master/entries/#{word}.yml"
end
%>

<html>
<head>
  <title>Pivotal Electronic Dictionary of Arcane Nomenclature and Terms (PEDANT)</title>
</head>
<link rel="stylesheet" href="./styles.css">
<body>
  <script type="application/javascript">
    function jumpto(anchor){
      console.log("jumping to " + anchor)
      window.location.href = "#"+anchor;
    }
  </script>
  <div class="wrapper">
    <div class="header">
      <div class="title">PEDANT</div>
      <div class="expansion">Pivotal Electronic Dictionary of Arcane Nomenclature and Terms</div>
    </div>

    <% if needs_work.size > 0 %>
    <div class="plz-explain">
      <h2>Can you explain any of these?</h2>
      <div class='needs-work'>
        <% needs_work.each do |e| %>
        <span><a href="<%= github(repo_location, e['headword']) %>"><%= e["headword"] %></a></span>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="entries">
      <% entries.each do |e| %>
      <div class='entry'>

        <div class="headword" id="<%= slugify(e['headword']) %>">
          <a href="#<%= slugify(e['headword']) %>"><%= e['headword'] %></a>
        </div>

        <div class="expansion">
          <%= e['expansion'] %>
        </div>

        <% if e['definition'] %>
        <div class="def">
          <%= e['definition'] %>
        </div>
        <% end %>

        <% if e['links'] || e['pretty_links']%>
          <ul class="links">

          <% if e['links'] %>
            <% e['links'].each do |link| %>
            <li><a href="<%= link %>"><%= link %></a></li>
            <% end %>
          <% end %>

          <% if e['pretty_links'] %>
            <% e['pretty_links'].each do |link| %>
            <li><a href="<%= link['link'] %>"><%= link['text'] %></a></li>
            <% end %>
          <% end %>

          </ul>
        <% end %>

        <% if e['see_also'] %>
        <div class="see-also">
          <span>See Also:</span>
          <% e['see_also'].each do |see| %>
          <span><a onclick=jumpto("<%= slugify(see) %>")><%= see %></a></span>
          <% end %>
        </div>
        <% end %>

        <div class="improve">
          <a href="<%= github(repo_location, e['headword']) %>">Improve this entry</a>
        </div>

      </div>
      <% end %>
    </div>
  </div>
</body>
